<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form action="">
        <mat-form-field>
            <input type="text" matInput placeholder="Nome" name="name" [(ngModel)]="product.name">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Preço (R$)" name="price" [(ngModel)]="product.price">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProduct()" color="primary">
        Salvar <i class="material-icons v-middle" appRed>save</i> 
    </button>
    <button mat-raised-button (click)="cancel()" color="primary">
        Cancelar <i class="material-icons v-middle" color="deep-orange" appRed>cancel</i> 
    </button>
</mat-card>

