.footer {
    position: fixed;
    background-color: #5c157a;
    bottom: 0;
    color:white;
    width: 100%;   
    height: 35px;
    padding: 10px;


    display: flex;
    justify-content: flex-end;
}

.footer span {
    margin-right: 20px;
    font-size: .8rem;
}