/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.light-blue{
    color: #0fffc6;
}
.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: #28a745;
    color: #ffffff;
}
.msg-error {
    background-color: #dc3545;
    color: #ffffff;
}

